@xbase:registry=https://npm.xbase.xyz
@xunlei:registry=http://xnpm.repo.xunlei.cn/
# registry=https://registry.npmmirror.com
registry=https://mirrors.cloud.tencent.com/npm/
strict-peer-dependencies=false